body {

  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 10px;
  background-color:hsl(0, 100%, 74%);
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
  color: white;
  width: 1440px;
font-size: 16px;
}
h1{
  font-size: auto;
  font-weight: bold;

}

.container{
  display:grid;
  grid-template-columns:1fr 1fr;
  grid-template-areas:
  "left right"
  "left right"
  "left right";
  /*"left right"
  ". right3"
  ". right4"
  "footer footer1 footer"
*/
}

.first{
  grid-area:left;
  margin: 30% 8% 15% 3%;
}
.second{
  grid-area:right;
  margin:0 10% 0 12%;
}

.errorMessage{
  font-size: 12px;
  font-style: italic;
  color: white;
  text-align: right;
  margin: 0;
  padding: 0;
}
.form-signin {

  width: 420px;
  padding: 15px;
  margin: 3%;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: 40px;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}


.btn-top{
width:450px;

margin-bottom: 12%;



    box-shadow: 0px 5px 10px 1px #851d41;
    border-radius: 5px;
    background-color: #633a82;
    border-color: #633a82;
    font-size: 15px;
    height: 53px;

}
.btn-top:hover{
  background:#c295d8;
  border-color: #c295d8;
}
.btn-sign{
  width: 390px;
  margin-left: 6.5%;
}
.btn-sign:hover{
  background: #a7e9af;
  border-color: #a7e9af;
}


.termsP{
  color:GRAY;
  font-size: 11px;
  margin-left: 8%

}

.background-img
{
  position: relative;
}
.square{

  position: absolute;
  right: 115px;
  top: 130px;

  background-color: white;
  width: 450px;
  height: 450px;
  z-index: -2;
  border-radius:20px;
}

.termsP span{
  color:red;

}


@media (max-width:700px){
  h1,h2,p{
    text-align: center;
  }
.square{
  width: 550px;
  width: auto;
}
.container{
  margin:0 25% 0 25%;
  grid-template-areas:
  "content"
  "left"
  "left"
  "right"
}
