body {

  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 10px;
  background-color:hsl(0, 100%, 74%);
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
  color: white;
  width: 1440px;
font-size: 16px;
}
h1{
  font-size: auto;
  font-weight: bold;

}
.first-text
{
  float:left;
  margin: 150px;
}

.errorMessage{
  font-size: 12px;
  font-style: italic;
  color: white;
  text-align: right;
  margin: 0;
  padding: 0;
}
.form-signin {
position: absolute;
right: 145px;
top: 60px;
  width: 400px;
  padding: 15px;
  margin: 3%;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: 40px;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

/*  margin-bottom: -1px;**/

.btn-top{
  position: absolute;
  top:-20px;
  right: 120px;
  padding: 15px;
    margin: 3%;
    box-shadow: 0px 5px 10px 1px #851d41;
    border-radius: 5px;
    background-color: #633a82;
    border-color: #633a82;
    font-size: 15px;
    height: 53px;

}
.btn-top:hover{
  background:#c295d8;
  border-color: #c295d8;
}
.btn-sign:hover{
  background: #a7e9af;
  border-color: #a7e9af;
}


.termsP{
  color:GRAY;
  font-size: 11px;
  position: relative;
  bottom:-10px;
  text-align: center;
}

.background-img
{
  position: relative;
}
.square{
  position: relative;
  left:125px;
  top:70px;
  background-color: white;
  width: 450px;
  height: 450px;
  z-index: -1;
  border-radius:20px;
}
.disclaimer{
  text-align: center;
}
.disclaimer span{
  color:red;
}
.attribution
{
  position: absolute;
  left: 20px;
  bottom:0px;
}

@media (max-width:600px){
  body{

    width: 550px;

    text-align: center;
    margin: 1% 0 1% 0;
    padding:  1% 0 1% 0;

  }
  .firstContainer{
    position: static;
    top:0px;
    margin: 1% 0 1% 0;
    padding:  1% 0 1% 0;
  }
  .secondContainer{
    position: absolute;
    margin: 145% auto 1% auto;

    padding:  1% 0 1% 0;
        
    left:85%;
    
    
    



  }



  }

  .square{
    position: absolute;
    left:15%;
    margin: 1% 0 1% 0;
    padding:  1% 0 1% 0;
  }
  .attribution{
    position: relative;
    top:500px;
  }
  .background-img
  {

    width: 550px;
  }
